{{ .Scratch.Set "thumbnailImage" "" }}
{{ .Scratch.Set "thumbnailImagePosition" "bottom" }}

{{/* Try to get thumbnail image directly */}}
{{ if .Params.thumbnailImage }}
  {{ .Scratch.Set "thumbnailImage" .Params.thumbnailImage }}
{{ end }}

{{/* Get position if specified */}}
{{ if .Params.thumbnailImagePosition }}
  {{ .Scratch.Set "thumbnailImagePosition" .Params.thumbnailImagePosition }}
{{ end }}

<article class="postShorten postShorten--thumbnailimg-{{ .Scratch.Get "thumbnailImagePosition" }}">
  <div class="postShorten-wrap">
    {{ if and (.Scratch.Get "thumbnailImage") (eq (.Scratch.Get "thumbnailImagePosition") "top")}}
      <a href="{{ .Permalink }}" aria-label="Open post: {{ .Title }}">
        <div class="postShorten-thumbnailimg">
          <img alt="{{ .Title }}" src="{{ .Scratch.Get "thumbnailImage" }}"/>
        </div>
      </a>
    {{ end }}
    <div class="postShorten-header">
      <h1 class="postShorten-title">
        <a class="link-unstyled" href="{{ .Permalink }}" aria-label="Open post: {{ .Title }}">
          {{ .Title }}
        </a>
      </h1>
      {{ partial "post/meta" . }}
    </div>
    <div class="postShorten-excerpt">
      {{ if .Params.Summary }}
        {{ .Params.Summary | markdownify }}
      {{ else }}
        {{ .Summary }}
      {{ end }}
      <p>
        <a href="{{ .Permalink }}" class="postShorten-excerpt_link link" aria-label="Read more about {{ .Title }}">{{ i18n "post.read_more" }}</a>
      </p>
    </div>
  </div>
  {{ if and (.Scratch.Get "thumbnailImage") (ne (.Scratch.Get "thumbnailImagePosition") "top")}}
    <a href="{{ .Permalink }}" aria-label="Open post: {{ .Title }}">
      <div class="postShorten-thumbnailimg">
        <img alt="{{ .Title }}" src="{{ .Scratch.Get "thumbnailImage" }}"/>
      </div>
    </a>
  {{ end }}
</article>
