{{$duration := ""}}
{{$to := now }}
{{ if ne (.Get "to") ""}}
{{$to = time (.Get "to") }}
{{end}}
{{$enabledTime := ne (.Get "from") ""}}
{{if $enabledTime }}
{{$from := time (.Get "from") }}
{{$tmonths:=mul ($to.Sub $from).Hours 0.00136986301 }}
{{$months := mod $tmonths 12 }}
{{$years := math.Floor (div $tmonths 12)}}
{{$yearStr := "years"}}
{{if lt $years 2 }}{{$yearStr = "year"}}{{end}}
{{$monthStr := "months"}}
{{if lt $months 2 }}{{$monthStr = "month"}}{{end}}

{{$duration = ""}}
{{if gt $years 0 }}{{$duration = printf "%s %.0f %s" $duration $years $yearStr}}{{end}}
{{if gt $months 0 }}{{$duration = printf "%s %d %s" $duration $months $monthStr}}{{end}}
{{end}}

{{$collapsed := .Get "collapsed"}}
{{$collapsedClass := ""}}
{{if $collapsed}}{{$collapsedClass = "collapsed"}}{{end}}

<div class="container">
<div class="content collapsible {{$collapsedClass}}">
<div class="title">{{.Get "title"}}</div>
{{if $enabledTime }}
<div class="duration" {{ if eq .Ordinal 0 }} id="duration" {{ end }}>
{{ if ne .Ordinal 0 }} {{$duration}} {{ end }}
</div>
{{ end }}
<div class="body">{{.Inner | markdownify}}</div>
</div>
<div class="date">{{ if eq (.Get "to") "" }}Present{{ else }}{{ $to.Format "January" }}<br>{{ $to.Year }}{{ end }}</div>
</div>
{{ if and (eq (.Ordinal) 0) $enabledTime }}
<script>
function non0plural(number, name) {
if (number == 0) {
return ""
}
if (number > 1) {
return number + " " + name + "s"
}
return number + " " +name
}

el = document.querySelector("#duration");
function refresh() {
const t = new Date({{.Get "from"}}),
n = new Date,
e = monthDiff(t, n),
s = e % 12,
o = Math.floor(e / 12);
el.innerHTML = non0plural(o, "year") + " " + non0plural(s, "month")
}

function monthDiff(e, t) {
let n;
return n = (t.getFullYear() - e.getFullYear()) * 12, n -= e.getMonth(), n += t.getMonth(), n <= 0 ? 0 : n
}

window.setInterval(refresh, 1 * 1e3);
</script>
{{ end }}